.community-events {
    padding: 66px 0;
    background: #e0fbfc;

    h2 {
        font-family: $font-avenir-roman;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;        
        color: #29324150;
        margin-bottom: 55px;
    }
}
